@charset "UTF-8";
/* CSS Document */
@font-face {
 font-family: MyCustomFont;
 src: url("../fonts/MTCORSVA.eot") /* EOT file for IE */
}
@font-face {
 font-family: MyCustomFont;
 src: url("../fonts/MTCORSVA.TTF") /* TTF file for CSS3 browsers */
}

html, html a {
    -webkit-font-smoothing: antialiased !important;
}
body{
	background-image:url(../images/bg.png);
}

/* header & nav */
header{
	margin-top: 30px;
	width: 100%
}
img#brand{
	margin-top: 40px;
	height: 123px;
	display: block;
	margin: auto;
}
#contact{
	background-color:#c41230;
	padding: 10px;
	margin: 30px 0 10px 0;
	text-align: center;
	font-family: "Open-Sans", helvetica, arial, sans-serif;
	font-size: 14px;
}
a:link,
a:hover,
a:visited,
a:active{
	color: #FFF;
	text-decoration: none;
	font-style:italic;
}

/* divider bar */
#red-divider{
	background-color:#c41230;
	height: 1px;
	width: 100%;
}
aside{
	display: none;
}
#slider{
	margin-top: 5px;
}
a.bx-prev, a.bx-next{
	display: none;
}
.bx-pager{
	position:relative;
	right: 50px;
	top: 35px;
}

/* promo banner */
#promo-banner{
	background-color: #a4b171;
	margin-bottom: 30px;
}
#promo-banner > p {
	font-family: MyCustomFont;
	color: white;
	text-align: center;
	padding: 15px;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 1px;
	font-weight:lighter;
}

/* main */
main{
	max-width: 1000px;
	margin: 0 auto 30px auto;
	color: #333;
	overflow:hidden;
}
h3{
    color:#C41230;
    font-family: "Open-Sans", helvetica, arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
	margin-bottom: 10px;
	line-height: 20px;
}
p{
	font-family: "Open-Sans", helvetica, arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
}
#desc > p{
	margin-bottom: 20px;
}
#link-faqs{
	color: #C41230;
	text-decoration: underline;
	font-style:normal;
}

/* bulletin */
#bulletin{
	background-color:#c41230;
	max-width: 350px;
	height: auto;
	border:5px solid #992626;
    outline: 10px solid #c41230; 
	color: #fff;
	text-align: center;
}
h4, h5{
	font-size: 3em;
	font-family: MyCustomFont;
	text-align: center;
	font-weight: normal;
}
img#flower {
	margin-bottom: 15px;
}
h5 > small {
	font-size: 0.7em;
	font-family: MyCustomFont;
}
#bulletin > p{
	font-family: 'Crimson Text', serif;
	font-weight:700;
	font-size: .6em;
}
#bulletin > a{
	font-family: 'Crimson Text', serif;
	text-transform:uppercase;
	font-weight:700;
	font-size: 0.7em;
	font-style:normal;
	display:block;
	margin-bottom: 10px;
}

/* model */
figure > img{
	width: 100%;
	height: auto;
	position: relative;
	top: 34px;
}

/* footer */
footer{
	background-color:#c41230;
	text-align: center;
	color: #FFF;
	margin-top: 30px;
	padding: 15px;
}
footer > p {
	display: inline-block;
	font-size: 12px;
	padding-right: 15px;
}
footer > img{
	height: auto;
	width: 25px;
	display: inline-block;
	vertical-align: middle;
}

/* small screens */
@media (max-width: 480px){
	#bulletin{
		margin-top: 30px;
	}
	.bx-pager{
		display: none;
	}
	.bx-wrapper {
		margin-bottom: 15px;
	}
}

/* medium screens */
@media(min-width: 481px){
	aside {
	  display: block;
	  width: 50%;
	  position:absolute;
	  top: 260px;
	  left: 25px;
	  white-space: nowrap;
	  overflow:visible;
	  z-index: 1;
	}
	h1, h2{
		
	}
	h1{
	  color: #FFF;
	  font-family: MyCustomFont;
	  font-size: 4em;
	  font-weight: 500;
	}
	h2{
	  color: #FFF;
	  font-family: 'Crimson Text', serif;
	  font-size: 1.2em;
	  font-weight: 700;
	  display:block;
	  position:absolute;
	  left: 110px;
	}
	#bulletin{
		margin-left: 20%;
	}
}

/* large screens */
@media(min-width: 801px){
	#contact{
		text-align: right;
		padding-right: 10%;
	}
	#brand{
		position: absolute;
		top: 10px;
		left: 10%;
	}
	#red-divider{
		margin-top: 85px;
	}
	aside{
		top: 250px;
		left: 50px;
	}
	h1{
		font-size: 4.5em;
	}
	h2{
		left: 125px;
		font-size: 1.75em;
	}
}